<app-header></app-header>
<section style="width: 100%;">
  <div style="background-color:#333; height: 100%; margin-top: 2%; margin-left:2%; width:10%; display: inline-block;">
    <nav style="margin-left:2%; margin-right:1%; padding:0.7%;">
        <p><a style="color:#f2f2f2; text-align:center; padding: 1%; margin-left:2%; text-decoration:none; font-size: 18px;">Courses & Fee</a></p> |
        <p><a style="color:#f2f2f2; text-align:center; padding: 1%; margin-left:2%; text-decoration:none; font-size: 18px;">About US</a></p> |
        <p><a style="color:#f2f2f2; text-align:center; padding: 1%; margin-left:2%; text-decoration:none; font-size: 18px;">Results</a></p> |
    </nav>
  </div>
  <app-employee-form style="float: right; width: 83%; margin-right: 2%;"></app-employee-form>
</section>